##############################
# Custom ESXi kickstart file #
##############################

accepteula

install --firstdisk --overwritevmfs

#Set password, either encrypted or unencrypted
rootpw --iscrypted {{ esxi_login_pass | password_hash('sha512') }}

#Keyboard
keyboard 'US Default'

reboot

network --bootproto=dhcp

%firstboot --interpreter=busybox

sleep 20

#Suppress shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# enable & start remote ESXi Shell  (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

